

.nav-pills .nav-item .nav-link {
    color: darksalmon;
}

.nav-pills .nav-item .nav-link.active {
    color: black;
    background-color: darksalmon;
}

    .card-img-top {
         height: 345px;
         object-fit: cover;
     }


     .nav-pills .nav-item .nav-link {
         color: darksalmon;
     }

    .nav-pills .nav-item .nav-link.active {
        color: black;
        background-color: darksalmon;
    }
.btn-primary{
    color: black;
    background-color: lightpink;
}
/* Default styles */
.video-container {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.desktop-video {
    display: block;
    width: 100%;
    height: auto;
}

.mobile-image {
    display: none;
    width: 100%;
    height: auto;
    border-radius: 10px; /* Adjust the border-radius as needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow effect */
}


/* Media query for mobile devices */
@media (max-width: 768px) {
    .desktop-video {
        display: none;
    }

    .mobile-image {
        display: block;
    }
}
.rounded-circle {
    border-radius: 50%; /* Ensures the image is a circle */
}
