

.nav-pills .nav-item .nav-link {
    color: darksalmon;
}

.nav-pills .nav-item .nav-link.active {
    color: black;
    background-color: darksalmon;
}

    .card-img-top {
         height: 345px;
         object-fit: cover;
     }


     .nav-pills .nav-item .nav-link {
         color: darksalmon;
     }

    .nav-pills .nav-item .nav-link.active {
        color: black;
        background-color: darksalmon;
    }
.btn-primary{
    color: black;
    background-color: lightpink;
}
/* Default styles */
.video-container {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.desktop-video {
    display: block;
    width: 100%;
    height: auto;
}

.mobile-image {
    display: none;
    width: 100%;
    height: auto;
    border-radius: 10px; /* Adjust the border-radius as needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow effect */
}


/* Media query for mobile devices */
@media (max-width: 768px) {
    .desktop-video {
        display: none;
    }

    .mobile-image {
        display: block;
    }
}
.rounded-circle {
    border-radius: 50%; /* Ensures the image is a circle */
}
/* Add these styles to your CSS file */
.card-img-container {
    position: relative;
}

.card-img-container .card-img-top {
    transition: opacity 0.3s ease-in-out;
}

.card-img-container:hover .card-img-top {
    opacity: 0.7; /* Adjust the transparency level as needed */
}

.card-img-container .card-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    display: none;
}

.card-img-container:hover .card-info {
    display: block;
}
/* Style for the card and its image overlay */
.card {
    position: relative;
    overflow: hidden;
}

.card-image-overlay {
    position: relative;
    overflow: hidden;
}

.overlay-content {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background: rgba(0, 0, 0, 0.7); /* Background color for overlay */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
}

.card:hover .overlay-content {
    opacity: 1;
}

.overlay-content p {
    color: white; /* Text color */
    text-align: center;
    /* Additional styling for the text content */
}
@media only screen and (max-width: 767px) {
    /* Styles for mobile devices */
    .card:hover .overlay-content {
        /* Your hover styles for mobile */
    }
}
.card.hovered .overlay-content {
    /* Your hover styles for mobile */
}
